/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

.space{
    margin-top:20px;
}

.recipe{
    border-radius: 10px;
    background-color: #ffc10769;
    padding: 20px 5px;
}


html, body, h2 {
   font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
    font-style: normal;
    font-weight: 600;
    
}

